:root{
    --purple: #5e94fc;
    --white: #fff;
    --green: #55ea95;
    --pink: #ff75a8;
    --orange: #fff8ef;
    --gradient: linear-gradient(86deg, #1cb9f2ad, #0a99db);
}

$purple: #5e94fc;
$white: #fff;
$green: #55ea95;
$pink: #ff75a8;
$orange: #fff8ef;
$gradient: linear-gradient(86deg, #1cb9f2ad, #0a99db);

